@model MovieShopDLL.Entities.Movie

@{
    ViewBag.Title = "MovieDetails";
}

<h2>@Model.Title Details</h2>
<video src="@Model.MovieUrl" controls>
    Your browser does not support the video tag.
</video> 

