@model MovieShopDLL.Entities.Movie

@{
    ViewBag.Title = "MovieDetails";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/MovieDetailsStylesheet.css">
</head>
<body>
    <div>
        <table>
            <thead>Movie Details</thead>
            <tr>
                <td class="my-default">Title:</td>
                <td class="my-default">@Model.Title</></td>
                </tr>
            <tr>
                <td class="my-default">Genre:</td>
                <td class="my-default">@Model.Genre.Name</td>
            </tr>
            <tr>
                <td class="my-default">Year of Release:</td>
                <td class="my-default">@Model.Year</td>
            </tr>
            <tr>
                <td class="my-default">Price:</td>
                <td class="my-default">@Model.Price</td>
            </tr>
        </table>


    </div>
</body>
