body {
}

tr {
    height: 30px;
    color: whitesmoke;
    font-family: monospace;
}

table {
    background: black;
    border: 1px solid;
}

.type {
    width: 110px;
    font-weight: bold;
}

.value {
    width: 100px;   
}

a {
    width: 85px;
}

button {
    text-decoration: none;
}

